.job-btn {
    background: transparent;
    border-color: transparent;
    letter-spacing: var(--letterSpacing);
    cursor: pointer;
    transition: var(--transition);
}

.job-btn:hover {
    color: var(--primary-500);
    box-shadow: 0 2px var(--primary-500);
}

.active-btn {
    color: var(--primary-500);
    box-shadow: 0 2px var(--primary-500);
}

@media screen and (min-width: 992px) {
    .job-btn {
      margin-bottom: 1rem;
    }
    .job-btn:hover {
      box-shadow: -2px 0px var(--primary-500);
    }
    .active-btn {
      box-shadow: -2px 0px var(--primary-500);
    }
}